[submodule "semana1/semana1/miercoles"]
	path = semana1/miercoles
	url = git@github.com:Brianmax/variablesJava.git
[submodule "semana1/viernes"]
	path = semana1/viernes
	url = git@github.com:Brianmax/condicionale.git
[submodule "semana1/sabado"]
	path = semana1/sabado
	url = git@github.com:Brianmax/repasoSabado.git
[submodule "semana2/lunes"]
	path = semana2/lunes
	url = git@github.com:Brianmax/lunes.git
[submodule "semana2/miercoles"]
	path = semana2/miercoles
	url = git@github.com:Brianmax/poo.git
[submodule "semana2/viernes"]
	path = semana2/viernes
	url = git@github.com:Brianmax/poo-java.git
